* {
  /* background-color: #e6e6e6; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.opportunities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.opportunity-container {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;;
  font-size: 14px;
  color: #2768bf;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.opportunity-container:hover {
  box-shadow: 0 4px 8px rgba(4, 4, 0, 0.628);
}

.opportunity-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.add-to-cart-button {
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  background-color: #6b9ee1;
  color: #111;
  border: 1px solid #a1badb;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  position: relative;
}

.add-to-cart-button:hover {
  background-color: #acb2b8;
}

@media screen and (max-width: 915px) {
  .opportunity-container {
      flex-basis: calc(50% - 20px);
  }
}




.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  /* position: relative */
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #2768bf;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination li a:hover {
  background-color: #6b9ee1;
  color: #fff;
}
