
body,
h4 {
  font-weight: 400;
  font-style: normal;
}

.cart-item {
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
}

.cart-item-details {
  flex: 1;
  /* justify-content: center; */
  /* align-items: center; */
}

.cart-item-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-item-rate {
  font-size: 16px;
  color: #088f3c;
}


.cart-item-delete {
  margin-left: auto;
  cursor: pointer;
  font-size: 10px;
  background-color: #12a1e8;
  color: #111;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
}

.cart-item-delete button:hover {
  background-color: #8dc3df;
}

.cart-total {
  margin-top: 20px;
}

.cart-action-buttons {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.cart-action-buttons button {
  font-size: 10px;
  background-color: #0ea106;
  color: #111;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.cart-action-buttons button:hover {
  /* background-color: #8dc3df; */
  opacity: 0.8;
}

.checkout-message {
  color: red
}
