
body,
h4 {
  font-weight: 400;
  font-style: normal;
}

.thumbnail {
  width: 30%;
  height: 30%;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  white-space: nowrap;
}

.cart-item {
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item-rate {
  font-size: 16px;
  color: #1374a8;
}


.cart-item-delete {
  margin-left: auto;
  cursor: pointer;
  font-size: 10px;
  background-color: #12a1e8;
  color: #111;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
}

.cart-item-delete button:hover {
  background-color: #8dc3df;
}

.cart-total {
  margin-top: 20px;
}

.cart-action-buttons button {
  font-size: 10px;
  background-color: #12a1e8;
  color: #111;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
}

.cart-action-buttons button:hover {
  background-color: #8dc3df;
}
